# Database (shared postgres container)
DB_USERNAME=vetly
DB_PASSWORD=

# Strapi security keys
APP_KEYS=
API_TOKEN_SALT=
ADMIN_JWT_SECRET=
TRANSFER_TOKEN_SALT=
JWT_SECRET=

# Frontend
NEXT_PUBLIC_STRAPI_API_URL=http://46.224.125.161:1337
NEXT_PUBLIC_SITE_URL=http://46.224.125.161:3002

# Optional
API_SPORTS_KEY=
SENTRY_DSN=
